doctype html
head
  meta(charset='UTF-8')
  link(rel='icon' type='image/svg+xml' href='favicon.svg')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Choose a template
  include intro/index.pug
  link(rel="stylesheet", href="css/style.css")
body 
  #app
    p Choose a template
    .memes
      each meme in memes
        a(href='editor?template=' + meme.url)
          img(src=meme.url) 